<h1>Editando uma task</h1>
<form action="/tasks/edit" method="POST">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" value="{{task.title}}">
  </div>
  <div class="form-control">
    <label for="description">Descrição:</label>
    <textarea type="text" name="description">{{task.description}}</textarea>
  </div>
  <input type="hidden" name="id" value="{{task.id}}">
  <input type="submit" value="Editar">
</form>