<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/toughts/add" class="btn">Criar pensamento</a>
  </div>
  <h3>Seus pensamentos</h3>
  <ul>
    {{#each toughts}}
      <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
          <a href="/toughts/update/{{this.id}}" class="btn">Editar</a>
          <form action="/toughts/remove" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" value="Excluir" class="btn">
          </form>
        </span>
      </li>
    {{/each}}
  </ul>

  {{#if emptyToughts}}
    <p>Ainda não foram criados pensamentos para este usuário. Para criar o primeiro pensamento, <a href="/toughts/add">clique aqui</a></p>
  {{/if}}
</div>