body{
    margin:0;
}

#container{
    display: flex;
    margin:0;
}

aside{
    margin:0;
    width:400px;
    background-color:#333333;
    color:#FFF;
}

main{
    margin: 30px 30px 30px 80px;
}

#notas-de-aula, div{
    margin-top: 0;
    padding-top: 0;
}

.botoes-mov{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.botao-mov{
    width: 40px;
    height: 40px;
    background-color: #8ad5d8;
    border:none;
    margin-top: 10px;
}

.botao-mov a{
    text-decoration: none;
    color:black;
}

