<h1>Nova história</h1>

<form action="/stories/new" method="post" id="formStory">
  <div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title">
  </div>
  <div class="form-control">
    <textarea name="storyArea" form="formStory" cols="30" rows="10" placeholder="Era uma vez..."></textarea>
  </div>
  <input type="submit" value="Escrever">
</form>

