<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa - Handlebars</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div>Area 1</div>
        <div>Área 2</div>
        <div>Área 3</div>
    </footer>
</body>
</html>