<div class="story-page">
  <div class="story-content">
    <h1>{{story.title}}</h1>
    <h3>{{story.caption}}</h3>
    <p>{{story.story}}</p>
  </div>
  <div class="story-controls">
    <a href="/stories">Voltar</a>
    <a href="/stories/remove/{{story._id}}">Excluir</a>
  </div>
</div>