* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9d8a6;
  color: #250902;
}

/* NAVBAR */
#navbar {
  padding: 1.2em 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #333;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

.container{
  padding: 2em;
}

.container h1{
  margin-bottom: 1em;
}

.form-control{
  display: flex;
  flex-direction: column;
}

.form-control label{
  font-weight: bold;
  margin-bottom: 0.4em;
}

.form-control input,
.form-control textarea{
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.btn{
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: none;
  border-radius: 0.5em;
  margin-top: 1em;
  justify-content: end;
  cursor: pointer;
}

