<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
  <h1>Editando um pensamento</h1>
  <form action="/toughts/update" method="post">
    <div class="form-control">
      <label for="title">Título</label>
      <input type="hidden" name="id" value="{{tought.id}}">
      <input type="hidden" name="userId" value="{{tought.UserId}}">
      <input type="text" name="title" value="{{tought.title}}">
    </div>
    <input type="submit" value="Atualizar">
  </form>
</div>