<h1>Usuários cadastrados</h1>
<div class="container">
  {{#each users}}
    <div class="item">
      <h2>{{this.name}}</h2>
      <p>{{this.occupation}}</p>
      <div class="actions">
        <a class="details-btn" href="/users/{{this.id}}">Ver detalhes</a> <!-- this.id é criado automaticamente pelo sequelize quando do registro do dado no banco --> 
        <form action="/users/delete/{{this.id}}" method="post">
          <input class="delete-btn" type="submit" value="Excluir">
        </form>
      </div>
    </div>
  {{/each}}
</div>